body {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center; 
}

.container {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.div {
    aspect-ratio: 1 / 1;
}

.buttonSize {
    display: flex;
    justify-content: center;
    width: 50px;
    margin-top: 60px;
}